<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>设置</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../lib/mui-master/dist/css/mui.min.css">
		<link rel="stylesheet" href="../lib/mui-master/dist/css/mui.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../lib/mui-master/examples/hello-mui/css/app.css" />
		<style>
			html,body {
				background-color: #efeff4;
			}
			.title{
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav" style="background: #00A666;">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" onclick="javascript:history.go(-1);" style="color: #FFFFFF;"></a>
			<h1 class="mui-title" style="color: #FFFFFF; font-size: 20px;">设置</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						新消息通知
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						隐私
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						通用
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 25px;">
				<li class="mui-table-view-cell">
					<a id="about" class="mui-navigate-right">
						使用说明
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a id="about" class="mui-navigate-right">
						关于自驾e族
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" style="margin-top: 25px;">
				<li class="mui-table-view-cell">
					<a style="text-align: center;color: #FF3B30;">
						退出登录
					</a>
				</li>
			</ul>
		</div>
	</body>
	<script src="../lib/mui-master/dist/js/mui.min.js"></script>
</html>