<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../lib/mui-master/dist/css/mui.css">
		<link rel="stylesheet" href="../lib/mui-master/examples/hello-mui/css/feedback.css" />
		<link rel="stylesheet" href="../lib/C/media-list-style.css" />
	</head>
	<body style="background: #FFFFFF;">
		<header id="header" class="mui-bar mui-bar-nav" style="background: #00A666;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
			<h1 class="mui-title" style="color: #FFFFFF; font-size: 20px;">登录</h1>
		</header>
		<div class="mui-content" style="background: #FFFFFF; margin-top:70px; text-align: center;">
			<img src="../app/images/log.png"/>
		</div>
		<div style="background: #FFFFFF; margin-top: 30px; text-align: center;">
			<button type="button" class="mui-btn" style="width: 50%;">手机号登录</button>
			<button type="button" class="mui-btn" style="width: 50%; margin-top: 10px; background: #FFFFFF; color: #00A666;">立即注册</button>
		</div>
		<div style="background: #FFFFFF; margin-top: 80px; margin-left: 18%; text-align: center; width: 70%; height: 50px;">
			<hr style="border: 1px solid #EDEDED; width: 35%; float: left;"/>
				<span style="color: #757575; margin-top: -9px; float: left; font-size: 14px;">其它方式</span>
			<hr style="border: 1px solid #EDEDED; width: 35%;" />
		</div>
		<div style="background: #FFFFFF; margin-top: -20px; text-align: center;">
			<a href="#"><img src="../app/images/QQ.png" style="width: 50px; height: 50px;"/></a>
			<a href="#" style="margin-left: 2%;"><img src="../app/images/xinlang.png" style="width: 50px; height: 50px;" /></a>
			<a href="#" style="margin-left: 2%;"><img src="../app/images/weixin.png" style="width: 50px; height: 50px;"/></a>
			<a href="#" style="margin-left: 2%;"><img src="../app/images/renren.png" style="width: 50px; height: 50px;"/></a>
		</div>
	</body>
</html>
