<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>会员服务</title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../lib/mui-master/dist/css/mui.min.css">
		<link rel="stylesheet" href="../lib/mui-master/dist/css/mui.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../lib/mui-master/examples/hello-mui/css/app.css" />
	</head>
	<body>
		<header id="header" class="mui-bar mui-bar-nav" style="background: #00A666;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
			<!--<h1 class="mui-title" style="color: #FFFFFF; font-size: 20px;">我的</h1>-->
			<a href="#" class="mui-icon mui-icon-more mui-pull-right" style="color: #FFFFFF;"></a>
		</header>
		<ul class="mui-table-view" style="margin-top: 45px; background: #EFEFF4;">
			<li class="mui-table-view-cell">
				<a class="mui-navigate-right" href="#" style="text-indent: 0.4em;">
					来自　会员服务
				</a>
			</li>
		</ul>
		<div class="mui-content" style="margin-top: -60px;">
			<ul class="mui-table-view" style="padding-top: 20px;">
				<li class="mui-media" style="font-size: 18px; text-indent: 0.9em;">自驾e族北极村车友大本营</li>
				
				<p style="text-indent: 1.5em;">评分</p>
				
				<div style="width: 90%; margin: auto; background: #FFF8EB; border: 1px solid #F2E8DE;">
					<li class="mui-media" style="font-size: 12px; text-indent: 1em; color: #DD847A; line-height: 30px;">凭自驾e族会员卡可享受</li>
					<li class="mui-media" style="font-size:12px;text-indent: 1em; line-height: 20px;">自驾e族会员价格八折优惠。</li>
				</div>
				
				<div id="slider" class="mui-slider" style="width: 90%; margin: auto; margin-top: 10px;">
					<div class="mui-slider-group mui-slider-loop">
						<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<img src="../images/1-140223142P0.jpg" >
							</a>
						</div>
						<div class="mui-slider-item">
							<a href="#">
								<img src="../images/1-140223142P0.jpg">
							</a>
						</div>
						<div class="mui-slider-item">
							<a href="#">
								<img src="../images/1-140223142P0.jpg">
							</a>
						</div>
						<div class="mui-slider-item">
							<a href="#">
								<img src="../images/1-140223142P0.jpg">
							</a>
						</div>
						<div class="mui-slider-item">
							<a href="#">
								<img src="../images/1-140223142P0.jpg">
								
							</a>
						</div>
						<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<img src="../images/1-140223142P0.jpg">
							</a>
						</div>
					</div>
					<div class="mui-slider-indicator mui-text-center">
						<div class="mui-indicator mui-active"></div>
						<div class="mui-indicator"></div>
						<div class="mui-indicator"></div>
						<div class="mui-indicator"></div>
					</div>
				</div>
				<!--轮播结束-->
				<div style="margin: auto; margin-top: 20px; width: 90%; ">
					<p style="font-size: 10px;">两人间房型独立卫浴--100一间。三人间房型独立淋浴150一间。Wi-Fi覆盖。有停车位、有冬季车辆暖库、有餐厅、有大厅、还有菜园子！地理位置优越：离派出所-50米、离超市、饭店、银行、客运站、医院、学校-150米。离黑龙江边-神州北极广场-300米。</p>
					<p style="font-size: 10px;">地区:黑龙江省-大兴安岭地区-漠河县</p>
					<p style="font-size: 10px;">地址:黑龙江省漠河县北极镇北极村黑龙江大街12号</p>
					<p style="font-size: 10px;">联系人:王陆军 13845731978</p>
					<div style="margin-top: 20px;">
						<img src="../images/19777185_1365735860813_800x600.jpg" style="width:30px; height: 30px; border-radius: 25px; float: left;" />
						<span style="font-size: 14px; line-height: 35px; margin-left: 5px;">积分兑换</span>
						<button type="button" class="mui-btn" style="width: 40px; height: 20px; font-size: 10px; line-height: 8px; text-indent: -0.7em; margin-top: 6px;">+ 关注</button>
						<span class="mui-icon mui-icon-flag mui-pull-right" style="line-height: 35px; font-size: 18px; color: #D4D4D4;" onclick="this.style.color='#00A666'; this.innerText=this.innerHTML*1+1">0</span>
						<span class="mui-icon mui-icon-chat mui-pull-right" style="line-height: 35px; font-size: 18px; color: #D4D4D4; margin-right: 20px;" onclick="this.style.color='#00A666';">123</span>
					</div>
				</div>
			</ul>
				<!--广告位-->
				<div style="width: 100%; margin: auto; margin-top: 10px;">
					<a href="#"><img src="../images/2A4D0T052A7L.jpg" style="width: 100%; height: 130px;" /></a>
				</div>
		</div>
	</body>
	<script src="../lib/mui-master/dist/js/mui.min.js"></script>
	<script>
		mui.init({
		swipeBack:true //启用右滑关闭功能
		});
		var gallery = mui('.mui-slider');
			gallery.slider({
			  interval:1000//自动轮播周期，若为0则不自动播放，默认为0；
		});
	</script>
</html>
