<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动-显示页</title>
    <link href="../../lib/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../lib/SmaLove/web/HDdisplaypageC.css" rel="stylesheet" />
    <link href="../../lib/public_style.css" rel="stylesheet" />
    <script src="../../lib/jquery-2.2.3.js"></script>
    <script src="../../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
</head>
<body>
<!--头部-->
<header style="height: 30px;background: #505d4b">头部</header>
<div id="view">
    <!--自驾e族标志-->
    <div style="margin-top: 20px">
        <div class="pull-left">
            <img src="../images/zjtb.png">
        </div>

        <!--头部 290 x 60 广告位-->
        <div class="pull-right">
            <a href="#"><img src="../images/290x60gg.png"></a>
        </div>

        <!--头部搜索框-->
        <div class="pull-right" style="width: 500px;margin-right: 20px">
            <div class="input-group">
                <input type="text" style="border-radius: 0px" class="form-control" placeholder="请输入关键词搜索">
                <span class="input-group-btn ">
                    <button class="btn btn-default" type="button" style="background: #00a666;color: #FFFFFF;width: 70px;border-radius: 0">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
            <div style="margin-top: 10px">
                <a href="#">自驾e族</a>&nbsp;&nbsp;&nbsp;
                <a href="#">自驾游</a>&nbsp;&nbsp;&nbsp;
                <a href="#">版主大会</a>&nbsp;&nbsp;&nbsp;
                <a href="#">大型活动</a>
            </div>
        </div><!-- /.col-lg-6 -->
    </div>

    <div class="left" style="width: 1200px">
        <p>导航栏</p>
    </div>
    <!--面包屑导航-->
    <div class="left">
        <div>
            <span style="float: left;margin-top: 8px">当前位置：</span>
            <ol class="breadcrumbnav">
                <li><a href="#">首页</a></li>
                <li class="active">活动</li>
            </ol>
        </div>
    </div>

    <!--活动显示主体-->
    <div id="HDbody">
        <div class="top">
            <h2 class="title"><b>自驾e族 衡水分会 3月20日 星期天又一次狂欢袭来</b></h2>
            <span>自驾e族官网 www.fbtrip.cn 2016-07-16 来源：自驾e族</span><br>
            <div class="topbottom">
                <div class="share">
                    <img src="../images/分享.png">
                    <a href="#"><img src="../images/新浪.png"></a>
                    <a href="#"><img src="../images/微信.png"></a>
                    <a href="#"><img src="../images/QQ.png"></a>
                    <a href="#"><img src="../images/qq空间.png"></a>
                    <a href="#"><img src="../images/腾讯微博.png"></a>
                </div>
                <div class="comment">
                    <span><b>39</b> 评论</span>
                    <a href="#"><span style="color: #00a666" class="glyphicon glyphicon-edit"></span></a>
                </div>
                <div class="author">
                    <span>作者：</span>
                    <img src="../images/小头像方.png">
                    <span>心境惠心</span>
                    <button>+ 关注</button>
                </div>
            </div><!--topbottom -->
        </div><!-- top -->
        <!--1080*80广告位-->
        <div style="background: #D8E2EE;text-align: center;width: 1080px;height: 80px;margin-top: 20px">
            <p>广告位</p>
            <p>1080x80像素</p>
        </div>
        <div class="TPcarousel">
            <a><img src="../images/活动显示页轮播1.png"></a>
        </div>
        <div class="HDdetails">
            <p>集结地：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;河北省-衡水-桃城区</span></p>
            <p>目的地：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;河北省-衡水-桃城区</span></p>
            <p>里程：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30</span></p>
            <p>对讲机：<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;没有</span></p>
            <p>活动周期：<span>&nbsp;&nbsp;&nbsp;2016-03-20 00:00 ~ 2016-03-20 21:00</span></p>
            <p>截止报名：<span>&nbsp;&nbsp;&nbsp;2016-03-19 19:00 （<span class="glyphicon glyphicon-dashboard">倒计时：<b>3</b>天<b>2</b>小时<b>50</b>分</span>）</span></p>
            <p>车辆限制：<span>&nbsp;&nbsp;&nbsp;5</span></p>
            <p>人数范围：<span>&nbsp;&nbsp;&nbsp;8 人~15 人</span></p>
            <p>价格：<span><b>100</b>起</span></p>
            <p style="float: right"><span class="glyphicon glyphicon-user"></span> 已有<b>4</b>人报名</p>
            <div class="contact">
                <div class="phone">
                    <img src="../images/电话图标.png">
                    <div style="float: left">
                    <p>发布人的联系方式</p>
                    <span><b>13784483333</b></span>
                    </div>
                </div>
                <div class="signup">
                    <button>我要报名</button>
                </div>
            </div>
        </div>
        <div>
            <!-- 代码部分begin -->
            <div class="lanrenzhijia" style="float: left">
                <div class="tab">
                    <a href="javascript:;" class="on">活动描述</a>
                    <a href="javascript:;">行程安排</a>
                    <a href="javascript:;">费用说明</a>
                    <a href="javascript:;">活动须知</a>
                    <a href="javascript:;">活动评论</a>
                </div>
                <div class="content">
                    <ul>
                        <li style="display:block;">
                            <p style="border-bottom: 1px solid #D8E2EE;"><span class="glyphicon glyphicon-camera"></span> 活动描述</p>
                            <p>为了满足上次没有参加的朋友和上次没有玩够的朋友，也是为了我们【自驾E族衡水分会 驿站】成立，现决定再来一次星期天的狂欢，这次地点为：【衡水大道中段 顺民庄村 进村第一家 水雾天 大酒店】。</p>
                            <p>活动时间为：2016年3月20日星期天上午9点30分中华大街南头滏阳桥上集合</p>
                            <p>活动内容：钓鱼 划船 赏景 打牌 铁锅炖菜等等。。。。。。</p>
                            <p>活动所需自带物品：零食 凉菜 水果 自便，爱好钓鱼的朋友自带渔具。</p>
                            <p>搞活动就是为了让大家加深一下感情，彼此熟悉，让大家开心度过一个美好的周末。</p>
                        </li>
                        <li>
                            <p style="border-bottom: 1px solid #D8E2EE;"><span class="glyphicon glyphicon-camera"></span> 行程安排</p>
                            <p>直奔主题！</p>
                            <a href="#"><img src="../images/行程安排.png"></a>
                        </li>
                        <li>
                            <p style="border-bottom: 1px solid #D8E2EE;"><span class="glyphicon glyphicon-camera"></span> 费用说明</p>
                            <p>AA制，大家平等！</p>
                        </li>
                        <li>
                            <p style="border-bottom: 1px solid #D8E2EE;"><span class="glyphicon glyphicon-camera"></span> 活动须知</p>
                            <a href="#"><img src="../images/活动须知.png"></a>
                            <p>联系人：</p>
                            <p>衡水通 13784483333</p>
                            <p>越野胖哥 18603188539</p>
                            <p>鹤望楼 18731856888</p>
                        </li>
                        <li>活动评论</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- Hdbody -->



</div>


<div style="clear:both; height: 75px;"></div>

<footer>
    <div class="a_div">
        <img src="../images/a.jpg" style="width: 30px; height: 30px; border-radius: 30px; margin-left: 40px; margin-right: 10px;"/>
        <a href="">黑蝙蝠车队</a>
        <a href="">爱卡汽车</a>
        <a href="">汽车之家</a>
        <a href="">中国越野</a>
        <a href="">爱车一族</a>
        <a href="">纵横天下</a>
        <a href="">河北赛车网</a>
    </div>
    <div class="bq_div" style="width: 910px; margin: 22px auto 0;">
        <img src="../images/app.png" style="margin-right: 10px;" />
        <img src="../images/weixin.png" style="margin-right: 10px;" />
        <img src="../images/beian.png" style="margin-right: 10px;" />
        <img src="../images/gaba.png" />
    </div>
    <div style="width: 600px; margin: 22px auto 0;">
        <p style="color: #7E7E7E;">中国大型的自驾游主题平台。想自驾，来自驾e族！网址：www.fbtrip.cn,官方微信号：fbtrip-cn</p>
        <p style="text-align: center; color: #B5B5B5;">版权所有：自驾e族 © 2014-2016 www.fbtrip.cn</p>
    </div>
</footer>

<script>
    $(function(){
        $(".lanrenzhijia .tab a").click(function(){
            $(this).addClass('on').siblings().removeClass('on');
            var index = $(this).index();

            $('.lanrenzhijia .content li').hide();
            $('.lanrenzhijia .content li:eq('+index+')').show();
        });


        if(auto ==1){
            var number = 0;
            var maxNumber = $('.lanrenzhijia .tab a').length;
            function autotab(){
                number++;
                number == maxNumber? number = 0 : number;
                $('.lanrenzhijia .tab a:eq('+number+')').addClass('on').siblings().removeClass('on');
                $('.lanrenzhijia .content ul li:eq('+number+')').show().siblings().hide();
            }
//            var tabChange = setInterval();
            //鼠标悬停暂停切换
//            $('.lanrenzhijia').mouseover(function(){
//                clearInterval(tabChange);
//            });
//            $('.lanrenzhijia').mouseout(function(){
//                tabChange = setInterval(autotab,3000);
//            });
        }
    });
</script>


</body>
</html>