<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商城首页</title>
    <link href="../../lib/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../lib/SmaLove/web/Mall.css" rel="stylesheet" />
    <link href="../../lib/public_style.css" rel="stylesheet" />
    <script src="../../lib/jquery-2.2.3.js"></script>
    <script src="../../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
</head>
<body>
<!--头部-->
<header style="height: 30px;background: #505d4b">头部</header>
<div id="view">
    <div style="margin-top: 20px">
        <div class="pull-left">
            <img src="../images/zjtb.png">
        </div>

        <!--头部 290 x 60 广告位-->
        <div class="pull-right">
            <a href="#"><img src="../images/290x60gg.png"></a>
        </div>

        <!--头部搜索框-->
        <div class="pull-right" style="width: 500px;margin-right: 20px">
            <div class="input-group">
                <input type="text" style="border-radius: 0px" class="form-control" placeholder="请输入关键词搜索">
                <span class="input-group-btn ">
                    <button class="btn btn-default" type="button" style="background: #00a666;color: #FFFFFF;width: 70px;border-radius: 0">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
            <div style="margin-top: 10px">
                <a href="#">自驾e族</a>&nbsp;&nbsp;&nbsp;
                <a href="#">自驾游</a>&nbsp;&nbsp;&nbsp;
                <a href="#">版主大会</a>&nbsp;&nbsp;&nbsp;
                <a href="#">大型活动</a>
            </div>
        </div><!-- /.col-lg-6 -->
    </div>

<!--1190 x 80广告位-->
<div class="left">
    <div class="left">
        <!-- <p>导航栏</p> -->
    </div>
    <a href="#"><img style="width: 1200px;margin-top: 20px;" src="../images/cguangg.png"></a>
</div>



<div id="view" style="margin-top: 30px;">
    <div id="lunkuo">
        <!--中间自适应-->
        <div id="center">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                    <li data-target="#myCarousel" data-slide-to="8"></li>
                    <li data-target="#myCarousel" data-slide-to="9"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="../images/mall.png" alt="First slide"></a>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" style="font-size: 100px; line-height: 500px;" href="#myCarousel"
                   data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" style="font-size: 100px; line-height: 500px;" href="#myCarousel"
                   data-slide="next">&rsaquo;</a>
            </div>
            <!--轮播结束-->
            <div style="font-size: 25px; margin: 20px 0">
                热销产品推荐
            </div>

            <div id="sells">
                <ul>
                    <li style="border-top: 1px solid #E5E5E5; border-left: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border-top: 1px solid #E5E5E5; border-left: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border-top: 1px solid #E5E5E5; border-left: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div style="font-size: 25px; margin: 345px 0 20px;">
                新品上架
            </div>

            <div id="launch" style="float: left; width: 892px;">
                <ul>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/ml.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/头像.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/头像.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                    <li style="border: 1px solid #E5E5E5"><a href=""><img src="../images/头像.png" /></a>
                        <div style="margin: 10px 0;">
                            <p style="text-align: center; font-size: 16px;">自驾e族品牌房车</p>
                            <span style="margin-left: 70px;" class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="nominate">
                <div class="side" style="background: #FAFAFA;" >
                    <div class="top">
                        <p class="title">商城公告</p>
                        <p style="float: right; margin-top: -38px; margin-right: 15px; font-size: 14px;"><a href="">更多>></a></p>
                        <hr style="width: 90%; margin: -10px auto 0; color: #ECECEC;" />
                    </div>
                    <ul>
                        <li>
                            <img src="../images/圆点.png" style="margin-left: 3px;"/>
                            <a href="" style="line-height: 30px; margin-left: 5px;">祝全体会员端午节快乐</a>
                            <hr style="width: 90%; margin: 0px auto 0px; color: #ECECEC;"/>
                        </li>
                        <li>
                            <img src="../images/圆点.png" style="margin-left: 3px;"/>
                            <a href="" style="line-height: 30px; margin-left: 5px; color: red;">祝全体会员端午节快乐</a>
                            <hr style="width: 90%; margin: 0px auto 0; color: #ECECEC;"/>
                        </li>
                        <li>
                            <img src="../images/圆点.png" style="margin-left: 3px;"/>
                            <a href="" style="line-height: 30px; margin-left: 5px;">祝全体会员端午节快乐</a>
                            <hr style="width: 90%; margin: 0px auto 0; color: #ECECEC;"/>
                        </li>
                        <li>
                            <img src="../images/圆点.png" style="margin-left: 3px;"/>
                            <a href="" style="line-height: 30px; margin-left: 5px;">祝全体会员端午节快乐</a>
                            <hr style="width: 90%; margin: 0px auto 0; color: #ECECEC;"/>
                        </li>
                        <li>
                            <img src="../images/圆点.png" style="margin-left: 3px;"/>
                            <a href="" style="line-height: 30px; margin-left: 5px;">祝全体会员端午节快乐</a>
                            <hr style="width: 90%; margin: 0px auto 0; color: #ECECEC;"/>
                        </li>
                    </ul>
                </div>

                <ul style="background: #FAFAFA; ">
                    <li style="width: 300px; height: 206px; border: 1px solid #E5E5E5; border-collapse:collapse; margin-left: -2px;">
                        <div style="float: left; margin-top: 70px; margin-left: 5px;">
                            <p style="text-align: center; font-size: 18px;">自驾e族品牌房车</p>
                            <span class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                        <div style="float: right; margin-top: 70px;">
                            <img src="../images/b.png" style="width: 148px; height: 111px; "/>
                        </div>
                    </li>
                    <li style="width: 300px; height: 206px; border: 1px solid #E5E5E5; border-collapse:collapse; margin-left: -2px;">
                        <div style="float: left; margin-top: 70px; margin-left: 5px;">
                            <p style="text-align: center; font-size: 18px;">自驾e族品牌房车</p>
                            <span class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                        <div style="float: right; margin-top: 70px;">
                            <img src="../images/b.png" style="width: 148px; height: 111px; "/>
                        </div>
                    </li>
                    <li style="width: 300px; height: 206px; border: 1px solid #E5E5E5; border-collapse:collapse; margin-left: -2px;">
                        <div style="float: left; margin-top: 70px; margin-left: 5px;">
                            <p style="text-align: center; font-size: 18px;">自驾e族品牌房车</p>
                            <span class="line_h">￥420000</span>
                            <span>￥</span><span class="line_y">398000</span>
                        </div>
                        <div style="float: right; margin-top: 70px;">
                            <img src="../images/头像.png" style="width: 148px; height: 111px; "/>
                        </div>
                    </li>
                </ul>
            </div>

            <div style="height: 270px; width: 1190px; margin-top: 975px; clear: both;">
                <a href=""><img src="../images/mlgg.png" style="height: 270px; width: 1190px;" /></a>
            </div>

            <div style="width: 1190px; margin: 30px auto;">
                <div style="float: left; width: 585px; border: 1px solid #E9E9E9;">
                    <div style="width: 550px; margin: auto;">
                        <div>
                            <span style="font-size: 20px; line-height: 60px;">最新资讯</span>
                            <span style="float: right; line-height: 60px; margin-right: 20px;"><a href="" style="color: black;">更多>></a></span>
                        </div>
                        <div style="float: left">
                            <a href=""><img src="../images/c.png" style="width: 260px; height: 185px;"/></a>
                            <p style="font-size: 13px; margin-top: 10px; margin-left: 40px;">移动购物成移动互联网快速增长动力</p>
                        </div>
                        <div style="float: left">
                            <ul style="width:245px; margin-top: -5px; margin-left: 30px;">
                                <li style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a href="" style="line-height: 30px; color: black;">祝全体会员端午节快乐</a>
                                    <hr style="width: 95%; margin: 0 0 0 0; color: #ECECEC;"/>
                                </li>
                                <li style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a href="" style="line-height: 30px; color: black;">祝全体会员端午节快乐</a>
                                    <hr style="width: 95%; margin: 0 0 0 0; color: #ECECEC;"/>
                                </li>
                                <li style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a href="" style="line-height: 30px; color: black;">祝全体会员端午节快乐</a>
                                    <hr style="width: 95%; margin: 0 0 0 0; color: #ECECEC;"/>
                                </li>
                                <li style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a href="" style="line-height: 30px; color: black;">祝全体会员端午节快乐</a>
                                    <hr style="width: 95%; margin: 0 0 0 0; color: #ECECEC;"/>
                                </li>
                                <li style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a href="" style="line-height: 30px; color: black;">祝全体会员端午节快乐</a>
                                    <hr style="width: 95%; margin: 0 0 0 0; color: #ECECEC;"/>
                                </li>
                                <li style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a href="" style="line-height: 30px; color: black;">祝全体会员端午节快乐</a>
                                    <hr style="width: 95%; margin: 0 0 0 0; color: #ECECEC;"/>
                                </li>
                                <li style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <a href="" style="line-height: 30px; color: black;">祝全体会员端午节快乐</a>
                                    <hr style="width: 95%; margin: 0 0 0 0; color: #ECECEC;"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="float: right; width: 585px; height: 284px; border: 1px solid #E9E9E9;">
                    <div style="width: 550px; margin: auto;">
                        <div>
                            <span style="font-size: 18px; line-height: 60px;">最新评论</span>
                            <span style="float: right; line-height: 60px; margin-right: 20px;"><a href="" style="color: black;">更多>></a></span>
                        </div>

                        <div>
                            <img src="../images/头像.png" style="width: 40px; height: 40px; border-radius: 25px; float: left" />
                            <span style="float: left; margin-left: 10px; color: #CACACA; font-size: 12px;">李小璐</span><span style="float: right; color: #CACACA; font-size: 12px;">2016-08-11</span>
                            <p style="float: left; margin-left: 10px; width: 480px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">这个产品真心不错哦</p>
                        </div>

                        <div style="margin-top: 70px;">
                            <img src="../images/头像.png" style="width: 40px; height: 40px; border-radius: 25px; float: left" />
                            <span style="float: left; margin-left: 10px; color: #CACACA; font-size: 12px;">李小璐</span><span style="float: right; color: #CACACA; font-size: 12px;">2016-08-11</span>
                            <p style="float: left; margin-left: 10px; width: 480px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">这个产品真心不错哦这个产品真心不错哦这个产品真心不错哦</p>
                        </div>

                        <div style="margin-top: 140px;">
                            <img src="../images/头像.png" style="width: 40px; height: 40px; border-radius: 25px; float: left" />
                            <span style="float: left; margin-left: 10px; color: #CACACA; font-size: 12px;">李小璐</span><span style="float: right; color: #CACACA; font-size: 12px;">2016-08-11</span>
                            <p style="float: left; margin-left: 10px; width: 480px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">这个产品真心不错哦这个产品真心不错哦</p>
                        </div>
                    </div>
                </div>
            </div>

            <div style="width: 1190px; margin-top: 340px;">
                <img src="../images/mlbo.png" style="width: 1190px; height: 100px;" />
            </div>

            <div style="width: 1190px; margin: 40px auto;">
                <div style="width: 282px; height: 70px; float: left;">
                    <p style="text-align: center;"><b>新手上路</b></p>
                    <hr style="border-top:1px dashed #B3B3B3; margin: 0px auto 10px; width: 70%;" />
                    <p style="text-align: center;"><a href="" style="color: #B3B3B3;">常见问题</a></p>
                </div>
                <div style="width: 282px; height: 70px; float: left; margin-left: 20px;">
                    <p style="text-align: center;"><b>配送与支付</b></p>
                    <hr style="border-top:1px dashed #B3B3B3; margin: 0px auto 10px; width: 70%;" />
                    <p style="text-align: center;"><a href="" style="color: #B3B3B3;">支付方式说明</a></p>
                </div>
                <div style="width: 282px; height: 70px; float: left; margin-left: 20px;">
                    <p style="text-align: center;"><b>服务保证</b></p>
                    <hr style="border-top:1px dashed #B3B3B3; margin: 0px auto 10px; width: 70%;" />
                    <p style="text-align: center;"><a href="" style="color: #B3B3B3;">退换货原则</a></p>
                </div>
                <div style="width: 282px; height: 70px; float: left; margin-left: 20px;">
                    <p style="text-align: center;"><b>联系我们</b></p>
                    <hr style="border-top:1px dashed #B3B3B3; margin: 0px auto 10px; width: 70%;" />
                    <p style="text-align: center;"><a href="" style="color: #B3B3B3;">投诉与建议</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="clear:both; height: 35px;"></div>

<footer>
    <div class="a_div">
        <img src="../images/a.jpg"/>
        <a href="">黑蝙蝠车队</a>
        <a href="">爱卡汽车</a>
        <a href="">汽车之家</a>
        <a href="">中国越野</a>
        <a href="">爱车一族</a>
        <a href="">纵横天下</a>
        <a href="">河北赛车网</a>
    </div>
    <div class="bq_div">
        <img src="../images/app.png" style="margin-right: 10px;" />
        <img src="../images/weixin.png" style="margin-right: 10px;" />
        <img src="../images/beian.png" style="margin-right: 10px;" />
        <img src="../images/gaba.png" />
    </div>
    <div class="www">
        <p class="p1">中国大型的自驾游主题平台。想自驾，来自驾e族！网址：www.fbtrip.cn,官方微信号：fbtrip-cn</p>
        <p class="p2">版权所有：自驾e族 © 2014-2016 www.fbtrip.cn</p>
    </div>
</footer>
</body>
</html>