<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务显示</title>
    <link href="../../lib/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="../../lib/SmaLove/web/serviceNav.css" rel="stylesheet" />
    <link href="../../lib/public_style.css" rel="stylesheet" />
    <script src="../../lib/jquery-2.2.3.js"></script>
    <script src="../../lib/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
</head>
<style>
    .main_button {
        background: #14BF7D;
    }
    .main_button:hover {
        background: #109360;
    }
</style>
<body>
<!--头部-->
<header style="height: 30px;background: #505d4b">头部</header>
<div id="view">
    <div style="margin-top: 20px">
        <div class="pull-left">
            <img src="../images/zjtb.png">
        </div>

        <!--头部 290 x 60 广告位-->
        <div class="pull-right">
            <a href="#"><img src="../images/290x60gg.png"></a>
        </div>

        <!--头部搜索框-->
        <div class="pull-right" style="width: 500px;margin-right: 20px">
            <div class="input-group">
                <input type="text" style="border-radius: 0px" class="form-control" placeholder="请输入关键词搜索">
                <span class="input-group-btn ">
                    <button class="btn btn-default" type="button" style="background: #00a666;color: #FFFFFF;width: 70px;border-radius: 0">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
            <div style="margin-top: 10px">
                <a href="#">自驾e族</a>&nbsp;&nbsp;&nbsp;
                <a href="#">自驾游</a>&nbsp;&nbsp;&nbsp;
                <a href="#">版主大会</a>&nbsp;&nbsp;&nbsp;
                <a href="#">大型活动</a>
            </div>
        </div><!-- /.col-lg-6 -->
    </div>

<!--1190 x 80广告位-->
<div class="left">
    <div class="left">
        <!-- <p>导航栏</p> -->
    </div>
    <a href="#"><img style="width: 1200px;margin-top: 20px;" src="../images/cguangg.png"></a>
</div>


<div id="view">
    <div style="margin: 15px 0;">当前位置 : <span>首页 > 服务</span></div>
    <div id="lunkuo">
        <!--中间自适应-->
        <div id="center">
            <!--头部-->
            <div style="height: 172px;">
                <div style="margin-top: 40px;">
                    <h2 class="oneTitle">丽江第一家酷玩房车营地开业啦 <button class="btn btn-default active stice" style="background: #FFFFFF; border: 1px solid #FB9F5E; color: #FB9F5E">9折</button>
                    </h2>

                    <span style="line-height: 30px; margin-left: 4px;">自驾e族官网 www.fbtrip.cn 2016-07-16</span>
                    <span>　来源：自驾e族原创</span>
                    <span>　访问：512次</span>
                </div>
                <div style="float: left; margin-left: 4px;">
                    <img src="../images/分享.png" style="width: 30px; height: 30px; margin-right: 10px;"/>
                    <a href=""><img src="../images/新浪.png" style="width: 40px; height: 40px;"/></a>
                    <a href=""><img src="../images/微信.png" style="width: 40px; height: 40px;"/></a>
                    <a href=""><img src="../images/qq.png" style="width: 40px; height: 40px;"/></a>
                    <a href=""><img src="../images/QQ空间.png" style="width: 40px; height: 40px;"/></a>
                    <a href=""><img src="../images/腾讯微博.png" style="width: 40px; height: 40px;"/></a>

                    <img src="../images/竖线.png" style="height: 55px; margin-left: -13px;"/>
                </div>
                <div style="float: left; padding-top: 9px; text-indent: -1em;">
                    <span style="color: #FF5901; font-size: 30px;">39</span><span> 评论</span>
                    <a href="#1F"><img src="../images/评论.png" style="width: 40px; height: 40px; margin-top: -22px; margin-left: 8px;;"/></a>
                </div>

                <div style="float: right; padding-top: 19px;">
                    <span>作者：</span>
                    <span style="line-height: 23px;"><img src="../images/微信.png" style="width: 20px; height: 20px;" /> 会员服务</span>
                    <button class="btn btn-default" style="border: 1px solid #00A666; line-height: 10px; text-indent: -0.6em; color: #00A666; width: 50px; height: 23px;">+ 关注</button>
                </div>

                <hr style="width: 100%; margin: 63px auto 8px;"/>
            </div>

            <!--广告-->
            <div style="margin-top: -20px;">
                <img src="../images/cguangg.png" style="width: 1090px; height: 80px;" />
            </div>

            <!--正文加图片-->
            <div style="width: 1090px; margin-top: 30px;">
                <div style="width: 500px; float: left;">
                    <img src="../images/service.png" />
                </div>
                <div style="width: 570px; height: 147px; float: right; margin-top: 8px; margin-bottom: 250px;">
                    <b>类别:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>会员客栈</span><br /><br />
                    <b>地区:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>云南省-丽江市-玉龙纳西族自治县</span><br /><br />
                    <b>地址:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>玉龙白沙古镇玉龙村</span>

                    <a  class="btn btn-block main_button" style=" height: 60px; margin-top: 12px; color: white;">
                        <span class="glyphicon glyphicon-earphone" style="float: left; margin-top: 6px; font-size: 30px; margin-left: 30px;"></span>
                        <b style="font-size: 30px; float: left; margin-left: 30px; ">18869088585</b>
                        <b style="font-size: 30px; float: left; margin-left: 30px; ">18869088585</b>
                    </a>

                    <div style="height: 180px; border: 1px solid #99CFB8; background: #F5FBF9; margin-top: 15px;">
                        <div style="width: 510px; margin: 20px auto 0; font-size: 14px;">
                            <b style="color: red; font-size: 15px;">凭自驾e族会员卡可享受</b><br /><br />
                            <p>自驾e族会员一律9折</p>
                            <p>特色套房298；情侣房158；床位68；房车298；</p>
                            <p>商家自有积分制：1000元9折、5000元8折、10000以上7折。</p>
                        </div>
                    </div>
                </div>

                <div style="height: 47px; background: #DFF0E8; clear: both;">
                    <div style="width: 140px; height: 48px; background: #14BF7D;">
                       <p style="line-height: 47px; text-indent: 34px; font-size: 18px; color: #FFFFFF;">商家介绍</p>
                    </div>
                </div>
                <div style="margin-top: 40px; font-size: 16px; color: #666666; line-height: 30px;">
                    <p>丽江世外桃源房车营地坐落于 玉水寨下方、东巴王国傍.从市里七星一节乘坐6路公交车、在东巴王国下。营地遍种奇花异草，
                    鲜花常开，环境幽静，美艳动人，别具一格、有世外桃源之范，营地内有客栈，共21床位，风格独特，餐厅可容纳38人同时用餐，还有数张烧烤台，
                    有供房车停靠的五个供水供电桩、可同时停靠十辆房车。房车，侧部，尾部供电均可，220伏民用电。</p>
                    <p>韩国汗蒸桑拿，特别情侣房，特色套房，有茶座可品茗闻香，有书籍可供乱翻，有东北大炕休息喝茶，有星空蓝调客房......</p>
                    <p>欢迎来访、电话: 1886908585  18988018958</p>
                </div>

                <div style="width: 900px; height: 500px; margin: auto;">

                    <div id="myCarousel" class="carousel slide">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                            <li data-target="#myCarousel" data-slide-to="7"></li>
                            <li data-target="#myCarousel" data-slide-to="8"></li>
                            <li data-target="#myCarousel" data-slide-to="9"></li>
                        </ol>
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="../images/s.png" alt="First slide"></a>
                            </div>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="carousel-control left" style="font-size: 100px; line-height: 460px;" href="#myCarousel"
                           data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" style="font-size: 100px; line-height: 460px;" href="#myCarousel"
                           data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <!--表态- - -->
                <div style="margin-top: 90px;">
                    <p>刚表过态的朋友（15人）</p>
                    <!--头像-->
                    <div>
                        <a href=""><img src="../images/头像.png" style="width: 45px; height: 45px; border-radius: 25px;" /></a>
                        <a href=""><img src="../images/头像.png" style="width: 45px; height: 45px; border-radius: 25px;" /></a>
                        <a href=""><img src="../images/头像.png" style="width: 45px; height: 45px; border-radius: 25px;" /></a>
                        <a href=""><img src="../images/头像.png" style="width: 45px; height: 45px; border-radius: 25px;" /></a>
                        <a href=""><img src="../images/头像.png" style="width: 45px; height: 45px; border-radius: 25px;" /></a>
                        <a href=""><img src="../images/更多.png" style="width: 45px; height: 45px;" /></a>
                    </div>
                    <!--分享到-->
                    <div style="margin-top: 30px;">
                        <div>
                            <span>分享到 : </span>
                            <a href="" ><img src="../images/s腾讯微博.png" style="width: 26px; height: 26px;" /></a>
                            <a href="" ><img src="../images/sqq空间.png" style="width: 26px; height: 26px;" /></a>
                            <a href="" ><img src="../images/sQQ.png" style="width: 26px; height: 26px;" /></a>
                            <a href="" ><img src="../images/s新浪.png" style="width: 26px; height: 26px;" /></a>
                            <a href="" ><img src="../images/s微信.png" style="width: 26px; height: 26px;" /></a>
                        </div>
                        <!--赞和收藏-->
                        <div style="float: right; margin-top: -28px;">
                            <!--一个button是一个按钮-->
                            <button class="btn btn-default" style="width: 80px; height: 30px; background: #FFFFFF; border: 1px solid #42B280; margin-right: 10px;">
                                <span class="glyphicon glyphicon-thumbs-up" style="font-size: 15px; color: #42B280; text-indent: -2px;"></span>
                                <span style="font-size: 15px;">赞</span>
                                <span style="font-size: 16px; color: #FF5A00;"> 158</span>
                            </button>

                            <button class="btn btn-default" style="width: 90px; height: 30px; background: #FFFFFF; border: 1px solid #42B280">
                                <span class="glyphicon glyphicon-star-empty" style="font-size: 15px; color: #42B280; text-indent: -7px;"></span>
                                <span style="font-size: 15px;">收藏本文</span>
                            </button>
                        </div>
                    </div>
                    <div style="height: 45px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!--评论区域-->
    <div style="height: 970px; border: 1px solid #E6F1ED; margin-top: 20px;">
        <div style="width: 1080px; margin:35px auto 0;" id="1F">

            <span class="glyphicon glyphicon-comment" style="color: #19BF7F;"></span><span style="font-size: 18px;"> 热门评论</span>
            <hr style="border-top:1px dotted #D2D2D2;  margin-top: 10px;"/>
            <p style="font-size: 14px; color: #989898;">温馨提示 : 留言中请不要而已攻击国家，其它用户及工作人员，不要发布任何广告性质的留言。</p>

            <textarea class="form-control" rows="8" style="margin-top: 20px;" placeholder="请写下您的留言..."></textarea>

            <div style="float: right; margin-top: 20px; margin-left: 15px;">
                <button class="btn btn-danger" style="background: #14BF7D; border: 1px solid #14BF7D; width: 150px; height: 40px">立即评论</button>
            </div>
            <div style="float: right; margin-top: 30px; font-size: 16px;">
                <span>还没有账号？点此</span><a href="">注册</a>
            </div>
            <!--留言显示-->
            <div>
                <div style="height: 62px; margin-top: 60px;">
                    <img src="../images/头像.png" style="width: 62px; height: 62px; border-radius: 30px; float: left;"/>
                    <div style="float: left; margin-left: 20px;">
                        <span style="">kenn3646</span><span>2016/03/22</span>
                        <p>不错不错！</p>
                    </div>
                </div>
                <hr style="border-top:1px dotted #D2D2D2;  margin-top: 15px;"/>

                <div style="height: 62px; margin-top: 20px;">
                    <img src="../images/头像.png" style="width: 62px; height: 62px; border-radius: 30px; float: left;"/>
                    <div style="float: left; margin-left: 20px;">
                        <span style="">kenn3646</span><span>2016/03/22</span>
                        <p>不错不错！</p>
                    </div>
                </div>
                <hr style="border-top:1px dotted #D2D2D2;  margin-top: 15px;"/>

                <div style="height: 62px; margin-top: 20px;">
                    <img src="../images/头像.png" style="width: 62px; height: 62px; border-radius: 30px; float: left;"/>
                    <div style="float: left; margin-left: 20px;">
                        <span style="">kenn3646</span><span>2016/03/22</span>
                        <p>不错不错！</p>
                    </div>
                </div>
                <hr style="border-top:1px dotted #D2D2D2;  margin-top: 15px;"/>

                <div style="height: 62px; margin-top: 20px;">
                    <img src="../images/头像.png" style="width: 62px; height: 62px; border-radius: 30px; float: left;"/>
                    <div style="float: left; margin-left: 20px;">
                        <span style="">kenn3646</span><span>2016/03/22</span>
                        <p>不错不错！</p>
                    </div>
                </div>
                <hr style="border-top:1px dotted #D2D2D2;  margin-top: 15px;"/>

                <div style="height: 62px; margin-top: 20px;">
                    <img src="../images/头像.png" style="width: 62px; height: 62px; border-radius: 30px; float: left;"/>
                    <div style="float: left; margin-left: 20px;">
                        <span style="">kenn3646</span><span>2016/03/22</span>
                        <p>不错不错！</p>
                    </div>
                </div>
                <hr style="border-top:1px dotted #D2D2D2;  margin-top: 15px;"/>
            </div>


            <div style="width: 100%; height: 41px; margin: 30px auto 0px; background: #EFEFEF; line-height: 41px; text-align: center;">
                <a href="" style="text-decoration:none; font-size: 12px; color: black;">加载更多 > ></a>
            </div>
        </div>
    </div>

    <!--广告-->
    <div style="margin-top: 20px;">
        <img src="../images/cguangg.png" style="width: 1200px; height: 80px;" />
    </div>
</div>

<div style="clear:both; height: 35px;"></div>

<footer>
    <div class="a_div">
        <img src="../images/a.jpg"/>
        <a href="">黑蝙蝠车队</a>
        <a href="">爱卡汽车</a>
        <a href="">汽车之家</a>
        <a href="">中国越野</a>
        <a href="">爱车一族</a>
        <a href="">纵横天下</a>
        <a href="">河北赛车网</a>
    </div>
    <div class="bq_div">
        <img src="../images/app.png" style="margin-right: 10px;" />
        <img src="../images/weixin.png" style="margin-right: 10px;" />
        <img src="../images/beian.png" style="margin-right: 10px;" />
        <img src="../images/gaba.png" />
    </div>
    <div class="www">
        <p class="p1">中国大型的自驾游主题平台。想自驾，来自驾e族！网址：www.fbtrip.cn,官方微信号：fbtrip-cn</p>
        <p class="p2">版权所有：自驾e族 © 2014-2016 www.fbtrip.cn</p>
    </div>
</footer>
</body>
</html>