<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../lib/mui-master/dist/js/mui.min.js"></script>
    <link href="../lib/mui-master/dist/css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
</head>
<body>
	<!--标题栏-->
<header id="header" class="mui-bar mui-bar-nav" style="background: #00a666;">
	<a class="mui-action-back mui-icon mui-icon-videocam mui-pull-left" style="color: #FFFFFF;"></a>
	<h1 class="mui-title" style="color: #FFFFFF;">关注</h1>
	<span class="mui-icon mui-icon-search mui-pull-right" style="color: #FFFFFF;"></span>
</header>
<!--正在关注的版块-->
<ul class="mui-table-view" style="margin-top: 45px;" >
				<li class="mui-table-view-cell mui-media">
					<p style="font-size: 10px;padding-bottom: 10px">真在关注的版块</p>
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../lib/mui-master/examples/hello-mui/images/shuijiao.jpg">
						<p style="margin-top: 10px;">汽车赛事<p>
						<p class="mui-pull-right" style="margin-top: -23px;color: blue;">5</p>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../lib/mui-master/examples/hello-mui/images/muwu.jpg">
						<p style="margin-top: 10px;">会员服务</p>
						<p class="mui-pull-right" style="margin-top: -23px;color: blue;">12</p>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../lib/mui-master/examples/hello-mui/images/yuantiao.jpg">
						<p style="margin-top: 10px;">杭州分会<p>
						<p class="mui-pull-right" style="margin-top: -23px;color: blue;">6</p>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<div style="height: 5px;"></div>
				</li>
			</ul>
			<!--间隙-->
			<div style="height: 10px;"></div>
			<!--关注的人-->
			<ul class="mui-table-view mui-media">
				<li class="mui-table-view-cell mui-media">
					<p style="font-size: 10px;padding-bottom: 10px">正在关注的人</p>
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="ZJ图片/zijiatx.png">
						<p style="margin-top: 10px;">无刀<p>
						<p class="mui-pull-right" style="margin-top: -23px;color: blue;">16</p>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="../lib/mui-master/examples/hello-mui/images/shuijiao.jpg">
						<p style="margin-top: 10px;">望潮鱼<p>
						<p class="mui-pull-right" style="margin-top: -23px;color: blue;"></p>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<div style="height: 5px;"></div>
				</li>
			</ul>
			<!--间隙-->
			<div style="margin-top: 10px;"></div>
			<!--感兴趣的版块-->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<p style="font-size: 10px;padding-bottom: 10px">可能感兴趣的版块</p>
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="ZJ图片/wuzheng1%20.png">
						<p style="margin-top: 10px;">即享<p>
						<button type="button" style="font-size: 1px;padding: 1px;margin-top: -30px;" class="mui-btn mui-btn-success mui-btn-outlined mui-pull-right">+关注</button>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="ZJ图片/wuzheng2.png">
						<p style="margin-top: 10px;">房车e族<p>
						<p class="mui-pull-right" style="margin-top: -23px;color: blue;"></p>
						<button type="button" style="font-size: 1px;padding: 1px;" class="mui-btn mui-btn-success mui-btn-outlined mui-pull-right">+关注</button>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="ZJ图片/wuzheng3.png">
						<p style="margin-top: 10px;">福特俱乐部<p>
						<p class="mui-pull-right" style="margin-top: -23px;color: blue;"></p>
						<button type="button" style="font-size: 1px;padding: 1px;" class="mui-btn mui-btn-success mui-btn-outlined mui-pull-right">+关注</button>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-left" src="ZJ图片/wuxitxl.png">
						<p style="margin-top: 10px;">天下美食<p>
						<p class="mui-pull-right" style="margin-top: -23px;color: blue;"></p>
						<button type="button" style="font-size: 1px;padding: 1px;" class="mui-btn mui-btn-success mui-btn-outlined mui-pull-right">+关注</button>
					</a>
				</li>
				<li style="height: 60px;"></li>
			</ul>
			<!--底部导航拦-->
			<nav class="mui-bar mui-bar-tab">
            <a class="mui-tab-item mui-active">
                    <span class="mui-icon mui-icon-home"></span>
                    <span class="mui-tab-label">首页</span>
            </a>
            <a class="mui-tab-item">
                    <span class="mui-icon mui-icon-chatboxes"></span>
                    <span class="mui-tab-label">社区</span>
            </a>
            <a class="mui-tab-item">
                    <span class="mui-icon mui-icon-star"></span>
                    <span class="mui-tab-label">关注</span>
            </a>
            <a class="mui-tab-item">
                    <span class="mui-icon mui-icon-contact"></span>
                    <span class="mui-tab-label">我的</span>
            </a>
    </nav>
	
</body>
</html>