<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../lib/mui-master/dist/js/mui.min.js"></script>
    <link href="../lib/mui-master/dist/css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" charset="UTF-8">
      	mui.init();
    </script>
</head>
<body>
<!--带返回箭头的导航栏-->
<header class="mui-bar mui-bar-nav" style="background: #00a666;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
			<h1 class="mui-title" style="color: #FFFFFF;"></h1>
			<a class="mui-icon mui-icon-more mui-pull-right" style="color: #FFFFFF;"></a>
</header>
<div style="height: 50px;"></div>
<div>
	<h4>来自 新闻</h4>
	<span class="mui-icon mui-icon-arrowright mui-pull-right"></span>
</div>
<div class="mui-input-group">
    <div  style="padding: 10px 5% 0;">
        <h4>自驾e族走进2016年环塔拉力赛</h4>
    </div>
    <div style="padding: 0 5% 0;">
		<img src="ZJ图片/zijiatx.png" style="width: 20px;border-radius: 15px;font-size: 5px;" />
		<span style="font-size: 5px;">money</span>
		<button type="button" style="font-size: 5px;width: 50px;height: 15px;padding: 0;" class=" mui-btn-success mui-btn-outlined">+关注</button>
		<!--<span style="font-size: 5px;" class="mui-icon mui-icon-checkmarkempty mui-pull-right">89</span>
		<span style="font-size: 5px;" class="mui-icon mui-icon-chat mui-pull-right">18</span>-->
		<span style="font-size: 5px;">2016-03-04 来源：自驾e族</span>
    </div>
    <div style="text-align: center;padding-top: 10px;">
    	<img style="width: 60%;height: 60%;" src="ZJ图片/ht1.png" />
    	<img style="width: 60%;height: 60%;" src="ZJ图片/ht2.png" />
    </div>
    <p style="padding: 20px 5% 0;font-size: 5px;">
    	中国环塔拉力赛，全称环塔克拉玛干汽车摩托车越野拉力赛，暨中国越野系列赛新疆站创办于2015年，为每年举行的国家A级体育运动赛事项目。2011年起，环塔拉力赛已经正式升级为国际级赛事，现已成功举办9届，是亚洲第一，国内最大的汽车、摩托车、卡车同场竞技权威品牌越野国际赛事。
    </p>
    <div style="text-align: center;">
	<img style="width: 60%;height: 60%;" src="ZJ图片/ht3.png" />
	</div>
	<p style="padding: 20px 5% 0;font-size: 5px;">2016换他拉力比赛区域覆盖塔城地区、克拉玛依市、昌吉市、吐鲁番市和巴音郭楞蒙古自治州、和田地区、阿克苏地区等；比赛时间为5月15日至5月30日，将于塔城市开幕，阿克苏闭幕，赛程为15天，共计12个赛段。全部赛程65000公里，其中特殊赛段4000公里。常规组别有汽车组、摩托车组、卡车组，任保留2015年环塔体验组，另增设新能源组。</p>
	<p style="padding: 20px 5% 0;font-size: 5px;">经过十年的品牌培育与发展，如今的环塔拉力赛已经成长为新疆体育旅游文化名片、中国最具商业价值的也uy额赛车运动品牌、亚洲顶级越野赛事。2016环塔拉力赛新闻发布会结束后，环塔秘书处将正式启动车队参赛报名工作。同事2016环塔联合勘路工作和2016环塔全国志愿者招募活动也将随之启动。</p>
	<div style="padding-left: 80%;">
	<span class="mui-icon mui-icon-paperplane">15</span>
	</div>
</div>
<!--间隙-->
<div style="height: 10px;"></div>
<div class="mui-input-group">
	<img src="ZJ图片/guangao.png" style="width: 100%;height: 100%;" />
</div>
<ul class="mui-table-view" style="margin-bottom: 15%;">
	<p style="padding-left: 10px;">相关资讯</p>
	<li class="mui-table-view-cell">● “环塔中国，梦想世界”2016环塔</li>
	<li class="mui-table-view-cell">● 从环塔驶向达喀尔，那些年达喀尔</li>
	<li class="mui-table-view-cell">● 中国环塔（国际）拉力赛即将亮相20</li>
</ul>

<nav class="mui-bar mui-bar-tab" style="background: #00a666;">
            <a class="mui-tab-item mui-active" style="color: #FFFFFF;">
                    <span class="mui-icon mui-icon-redo"></span>
                    <span class="mui-tab-label">分享</span>
            </a>
            <a class="mui-tab-item" style="color: #FFFFFF;">
                    <span class="mui-icon mui-icon-star"></span>
                    <span class="mui-tab-label">收藏</span>
            </a>
            <a class="mui-tab-item" style="color: #FFFFFF;">
                    <span class="mui-icon mui-icon-chat"></span>
                    <span class="mui-tab-label">点评</span>
            </a>
            <a class="mui-tab-item" style="color: #FFFFFF;">
                    <input style="border-radius: 15px;width: 100%;" />
            </a>
 </nav>
</body>
</html>