<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<title>我的</title>
		<!--标准mui.css-->
		<link rel="stylesheet" href="../lib/mui-master/dist/css/mui.min.css">
		<link rel="stylesheet" href="../lib/mui-master/dist/css/mui.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../lib/mui-master/examples/hello-mui/css/app.css" />
	</head>
	<body>
		<header id="header" class="mui-bar mui-bar-nav" style="background: #00A666;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: #FFFFFF;"></a>
			<h1 class="mui-title" style="color: #FFFFFF; font-size: 20px;">我的</h1>
			<a href="../set%20up/set%20up.html" class="mui-icon mui-icon-gear mui-pull-right" style="color: #FFFFFF;"></a>
		</header>
		<div class="mui-content">
			<!--<div style="background-image: url(../images/my.png); background-repeat: space; width: 100%; ">
			</div>-->
			<a href="#"><img src="../images/my.png" style="width: 100%; height: auto;" /></a>
		</div>
		<div style="margin-top: 5px;">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　我加入的俱乐部
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　我的发帖
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　我的订单
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　我的即享
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　我的活动
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　我的好友
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　常用联系人
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　常用车辆
					</a>
				</li>
			</ul>
		</div>
		<div style="color: #949494; height: 30px; margin-left: 20px; line-height: 30px;">消息通知</div>
		<div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　回复我的
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　收到的赞
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<span class="mui-icon mui-icon-contact"></span>　系统信息
					</a>
				</li>
			</ul>
		</div>
		<div style="height: 60px;"></div>
		<nav class="mui-bar mui-bar-tab">
			<a id="defaultTab" class="mui-tab-item mui-active" href="#">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="#">
				<span class="mui-icon mui-icon-chatbubble"></span>
				<!--<span class="mui-icon mui-icon-email"><span class="mui-badge">9</span></span>-->
				<span class="mui-tab-label">社区</span>
			</a>
			<a class="mui-tab-item" href="#">
				<span class="mui-icon mui-icon-star"></span>
				<span class="mui-tab-label">关注</span>
			</a>
			<a class="mui-tab-item" href="#">
				<span class="mui-icon mui-icon-contact"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
	</body>
	<script src="../lib/mui-master/dist/js/mui.min.js"></script>
</html>
